<p>
  <strong>Title:</strong>
  <%= @field.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @field.text %>
</p>
 
<p><%= link_to 'New field', new_field_path %></p>
<p><%= link_to 'All fields', fields_path %></p>
